.left-section {
  max-width: 442px;
  margin: 186px 0 281px;

  &__text {
    margin-bottom: 14px;
    font-family: "Damn";
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #a08dff;
  }

  &__title {
    font-family: "Damn";
    font-size: 140px;
    line-height: 126px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-wrap: wrap;
  }

  &__subtitle {
    margin-bottom: 50px;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.right-section {
  width: 876px;

  &__icon {
    position: static;
    width: 100%;
    max-width: 876px;
    height: 769px;
    margin-left: 140px;
  }
}

.divider {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;

  @include r($mobile) {
    gap: 10px;
  }

  &__text {
    flex-shrink: 0;
    font-family: $font-main;
    font-size: 38px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #cfcbe6;

    @include r($mobile) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #cfcbe6;
  }
}

.about-left {
  display: block;
  margin-top: 207px;
  max-width: 476px;

  &__text {
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #0c0047;
  }
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 134px auto auto 119px;

  &__block {
    position: relative;
    max-width: 377px;
    padding: 84px 35px 40px 35px;
    background-color: #f5f3ff;
    border: 4px solid #392b80;
    border-radius: 20px;

    &--margin {
      margin-left: 198px;
      &::before {
        content: url("../assets/images/minbuble.svg");
        position: absolute;
        left: -61px;
        z-index: -1;
      }
      &::after {
        content: url("../assets/images/maxbuble.svg");
        position: absolute;
        left: 0px;
        top: 200px;
        z-index: -1;
      }
    }

    h3 {
      font-family: "Damn";
      font-size: 34px;
      font-weight: 400;
      line-height: 51px;
      text-align: left;
      color: #392b80;
      text-transform: uppercase;

      span {
        color: #c00c2c;
      }
    }
  }
  &__icon {
    position: absolute;
    top: -34px;
    left: 38px;
    width: 68px;
    height: 68px;
  }
}
.doubt {
  margin-top: 90px;
  &--margin {
    margin-left: 60px;
    margin-right: -60px;
    margin-top: 250px;
  }
  &--right {
    margin-top: 80px;
    text-align: left !important;
  }
  &__block {
    display: block;
    max-width: 268px;
    padding-right: 20px;
    text-align: right;

    h3 {
      margin-bottom: 8px;
      font-family: "Damn";
      font-size: 34px;
      line-height: 37px;
      font-weight: 400;
      text-transform: uppercase;
      color: #cd1743;
    }
  }
}
.wrapper-left {
  width: 581px;
  margin-top: 150px;
}
.wrapper-right {
  margin-top: 240px;
  &__block {
    position: relative;
    display: block;
    width: 434px;
    height: 434px;
    border-radius: 20px;
    background: url('../assets/images/metal.png');
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 434px;
      right: 34px;
      top: 34px;
      height: 434px;
      border-radius: 20px;
      background: #cd1743;
      z-index: -1;
    }
  }
}


.adress {
  display: flex;
  justify-content: space-between;
  &-left {
    display: flex;
    flex-direction: column;
    width: 377px;
    margin-top: 21px;
    &__text {
      margin: 21px 0 24px;
    }
    a {
      font-family: DAMN;
      font-size: 34px;
      font-weight: 400;
      line-height: 51px;
      text-align: left;
      color: #473BF0;
    }
  }
  &-right{

  }
}
