.footer {
  padding: 40px 0 70px;
  background-color: #392b80;

  &-top {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5c5099;
  }

  &__nav {
    display: flex;
    gap: 48px;
  }

  &__link {
    color: $white;
    transition: .2s linear;

    &:hover {
      opacity: .7;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    a {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
      color: #fff;
      transition: .2s linear;

      &:hover {
        opacity: .7;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 37px;

    a {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;

      span {
        opacity: 40%;
      }
    }

    p {
      color: #FFFFFF;
      opacity: 40%;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
    }

    &__icon {
      width: 56px;
      height: 34px;
    }
  }
}
