<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
            <div class="main">
                <section class="section section--main">
                    <div class="container">
                        <h1 class="title--main">Мы предоставляем полный спектр изготовления</h1>
                        <div class="services">
                            <a class="services-box">
                                <p>01</p>
                                <h3>Идея / Макет</h3>
                            </a>
                            <a class="services-box">
                                <p>02</p>
                                <h3>Разработка дизана</h3>
                            </a>
                            <a class="services-box"><img src="./assets/images/lizard.svg" alt="" />
                            </a>
                            <a class="services-box">
                                <p>03</p>
                                <h3>Утверждение дизайна</h3>
                            </a>
                            <a class="services-box"><img src="./assets/images/lizard.svg" alt="" />
                            </a>
                            <a class="services-box">
                                <p>04</p>
                                <h3>Штамповка / Литьё</h3>
                            </a>
                            <a class="services-box">
                                <p>05</p>
                                <h3>Проверка формы</h3>
                            </a>
                            <a class="services-box">
                                <p>06</p>
                                <h3>ЧПУ</h3>
                            </a>
                            <a class="services-box">
                                <p>07</p>
                                <h3>Вырубная форма<br>(только для штамповки)</h3>
                            </a>
                            <a class="services-box">
                                <p>08</p>
                                <h3>Установка крепежа</h3>
                            </a>

                            <a class="services-box"><img src="./assets/images/lizard.svg" alt="" />
                            </a>
                            <a class="services-box">
                                <p>09</p>
                                <h3>Полировка</h3>
                            </a>
                            <a class="services-box"><img src="./assets/images/lizard.svg" alt="" />
                            </a>
                            <a class="services-box">
                                <p>10</p>
                                <h3>Покрытие</h3>
                            </a>
                            <a class="services-box">
                                <p>11</p>
                                <h3>Окрашивание</h3>
                            </a>
                            <a class="services-box">
                                <p>12</p>
                                <h3>Матирование<br>
                                    (для твердой эмали)</h3>
                            </a>
                            <a class="services-box">
                                <p>13</p>
                                <h3>Запекание</h3>
                            </a>
                            <a class="services-box">
                                <p>14</p>
                                <h3>Покрытие эпоксидной смолой</h3>
                            </a>
                            <a class="services-box">
                                <img src="./assets/images/lizard.svg" alt="" />
                            </a>
                            <a class="services-box">
                                <p>15</p>
                                <h3>Проверка
                                    качества и упаковка</h3>
                            </a>
                            <a class="services-box">
                                <p>16</p>
                                <h3>Отгрузка</h3>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            </div>
            <%= htmlWebpackPlugin.options.widgets.footer %>
    </body>

</html>