.button{
    max-width: 278px;
    padding: 21px 39px;
    color: #fff;
    font-family: 'Damn';
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;
    border: 1px solid linear-gradient(95.97deg, #E1738D 0%, #C00C2C 100%);
    border-radius: 8px;
    background: #CD1743;
}