.feedback {
  display: flex;
  align-items: flex-end;
  gap: 116px;

  @include r($mobile) {
    flex-direction: column-reverse;
    gap: 40px;
  }

  &__info {
    max-width: 581px;
  }

  &__picture {
    position: relative;
    margin-bottom: 84px;
    display: flex;
    width: 434px;
    height: 434px;
    border-radius: 20px;
    background-color: $lavender;
    overflow: hidden;
    box-shadow: -34px 34px 0 0 $accent;

    @include r($mobile) {
      margin-bottom: 34px;
      width: 303px;
      height: 303px;
    }

    img {
      @include coverFull();
    }
  }
}
