body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.section{
  &__purple{
    background: #ddd;
  }
  
}
.row{
  display: flex;
  align-items:center
}