body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: #F5F3FF;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.section{
  &__purple{
    background: #ddd;
  }
  
}
.row{
  display: flex;
  justify-content: space-between;
  &--align{
    align-items:center
  }
  &--margin{
    margin-top: 60px;
  }
}

p{
  font-size: 14px;
  line-height: 28px;
  color: #392B80;
}
input{
  color: #A39AD2;
}