* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: $bg;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.section{
  &__purple{
    background: #ddd;
  }
}

.row{
  display: flex;
  justify-content: space-between;

  @include r($mobile) {
    flex-direction: column;
    gap: 30px;
  }

  &--align{
    align-items:center
  }
  &--margin{
    margin-top: 60px;
  }
}

.mob-hidden {
  @include r($mobile) {
    display: none;
  }
}

.desktop-hidden {
  @include rmin($mobile + 1) {
    display: none;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;

  @include r($mobile) {
    width: 156px;
    height: 32px;
  }
}

.fixed {
  overflow: hidden;
}

.hidden {
  display: none;
}

.mtm-50p {
  @include r($mobile) {
    margin-top: 50%;
  }
}
