<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main main--offset">
    <section class="section pb-148 pbm-90">
        <div class="container">
            <h1 class="title mb-30 mbm-40">Поиск</h1>
            <div class="search-page">
                <form class="search-form" action="" method="get">
                    <label class="search-form__item">
                        <svg class="search-form__icon">
                            <use xlink:href="./assets/sprite.svg#icon-search"></use>
                        </svg>
                        <input class="search-form__input" type="search" name="q" placeholder="Я ищу...">
                    </label>
                </form>
                <div class="search-page__content">
                    <a href="#" class="article-search">
                        <h3 class="article-search__title">Заголовок</h3>
                        <p class="article-search__text">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit</span>, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </a>
                    <a href="#" class="article-search">
                        <h3 class="article-search__title">Заголовок</h3>
                        <p class="article-search__text">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit</span>, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </a>
                    <a href="#" class="article-search">
                        <h3 class="article-search__title">Заголовок</h3>
                        <p class="article-search__text">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit</span>, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </a>
                    <a href="#" class="article-search">
                        <h3 class="article-search__title">Заголовок</h3>
                        <p class="article-search__text">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit</span>, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </a>
                    <a href="#" class="article-search">
                        <h3 class="article-search__title">Заголовок</h3>
                        <p class="article-search__text">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit</span>, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </a>
                </div>
                <button class="button button--wide-mob">Показать ещё</button>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
