<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<div class="main">
    <section class="section section--main">
        <div class="container">
            <h1 class="title--main">Категории</h1>
            <div class="category">
                <a href="single-category.html" class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Металлические значки</h3>
                </a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Медали</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Брелочки</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Подарочные монеты</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Пряжки для ремней</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Запонки</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Металлические значки</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Медали</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Брелочки</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Подарочные монеты</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Пряжки для ремней</h3></a>
                <a class="category-box"><img
                    class="doubt_center__image"
                    src="./assets/images/lizard.svg"
                    alt=""/>
                    <h3>Запонки</h3></a>
            </div>
        </div>
    </section>
</div>
</div>
<%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
