<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<div class="main main--offset">
    <section class="section pb-148 pbm-100">
        <div class="container">
            <h1 class="title mb-50 mbm-40">Категории</h1>
            <div class="category">
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Металлические значки</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Медали</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Брелочки</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Подарочные монеты</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Пряжки
                        для ремней</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Запонки</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Металлические значки</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Медали</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Брелочки</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Подарочные монеты</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Пряжки
                        для ремней</h2>
                </a>
                <a href="#" class="article-service article-service--category">
                    <picture class="article-service__picture">
                        <img src="./assets/images/lizard.png" alt="">
                    </picture>
                    <h2 class="article-service__title">Запонки</h2>
                </a>
            </div>
        </div>
    </section>
</div>
</div>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
