<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main main--offset">
    <section class="section pb-150 pbm-90">
        <div class="container">
            <div class="preview">
                <div class="preview__block">
                    <h1 class="title">металлические значки</h1>
                    <button class="button button--wide-mob" data-fancybox data-src="feedback">рассчитать стоимость</button>
                </div>
                <div class="preview__footer">
                    <p class="preview__text text">
                        Производим значки<br>
                        с логотипом и дизайном вашего бренда
                    </p>
                    <p class="preview__text text text--black text--upper">
                        Принимаем заказы от 10 000 ₽
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-150 pbm-90">
        <div class="container">
            <h2 class="title title--accent mb-30 mbm-40">
                Мы превращаем ваши идеи<br>
                в уникальные значки
            </h2>
            <div class="product-list mob-hidden">
                <article class="article-product">
                    <div class="article-product__picture">
                        <img src="./assets/images/product-1.png" alt="">
                    </div>
                    <div class="article-product__info">
                        <h3 class="article-product__title">Заголовок</h3>
                        <p class="article-product__text text">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain
                            was born and I will give you a complete account of the system, and expound the actual
                            teachings
                        </p>
                    </div>
                </article>
                <article class="article-product">
                    <div class="article-product__picture">
                        <img src="./assets/images/product-1.png" alt="">
                    </div>
                    <div class="article-product__info">
                        <h3 class="article-product__title">Заголовок</h3>
                        <p class="article-product__text text">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain
                            was born and I will give you a complete account of the system, and expound the actual
                            teachings
                        </p>
                    </div>
                </article>
                <article class="article-product">
                    <div class="article-product__picture">
                        <img src="./assets/images/product-1.png" alt="">
                    </div>
                    <div class="article-product__info">
                        <h3 class="article-product__title">Заголовок</h3>
                        <p class="article-product__text text">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain
                            was born and I will give you a complete account of the system, and expound the actual
                            teachings
                        </p>
                    </div>
                </article>
            </div>
            <div class="slider slider--auto desktop-hidden" data-slider="auto">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="article-product__picture">
                                    <img src="./assets/images/product-1.png" alt="">
                                </div>
                                <div class="article-product__info">
                                    <h3 class="article-product__title">Заголовок</h3>
                                    <p class="article-product__text text">
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising
                                        pain
                                        was born and I will give you a complete account of the system, and expound the
                                        actual
                                        teachings
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="article-product__picture">
                                    <img src="./assets/images/product-1.png" alt="">
                                </div>
                                <div class="article-product__info">
                                    <h3 class="article-product__title">Заголовок</h3>
                                    <p class="article-product__text text">
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising
                                        pain
                                        was born and I will give you a complete account of the system, and expound the
                                        actual
                                        teachings
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="article-product__picture">
                                    <img src="./assets/images/product-1.png" alt="">
                                </div>
                                <div class="article-product__info">
                                    <h3 class="article-product__title">Заголовок</h3>
                                    <p class="article-product__text text">
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising
                                        pain
                                        was born and I will give you a complete account of the system, and expound the
                                        actual
                                        teachings
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-150 pbm-100">
        <div class="container">
            <div class="portfolio">
                <div class="portfolio__info">
                    <div class="slider slider--relative" data-slider="default">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture class="portfolio__picture">
                                        <img src="./assets/images/pic-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="portfolio__picture">
                                        <img src="./assets/images/pic-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="portfolio__picture">
                                        <img src="./assets/images/pic-1.png" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-control swiper-control--slim mob-hidden">
                                <button class="swiper-btn swiper-btn-prev">
                                    <svg class="swiper-icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                                <button class="swiper-btn swiper-btn-next">
                                    <svg class="swiper-icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__footer">
                        <h3 class="portfolio__title">
                            Портфолио<br>
                            или примеры работ
                        </h3>
                        <p class="portfolio__text text text--bold">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain was born and I will give you a complete account of the system, and expound the actual
                            teachings of the.
                        </p>
                    </div>
                </div>
                <article class="article-portfolio">
                    <picture class="article-portfolio__picture">
                        <img src="./assets/images/pic-1.png" alt="">
                    </picture>
                    <div class="article-portfolio__info">
                        <h3 class="article-portfolio__title">
                            значки<br>
                            и сувенирная<br>
                            продукция
                        </h3>
                        <p class="article-portfolio__text">
                            Sed ut perspiciatis unde omnis iste<br>
                            natus error sit voluptatem<br>
                            accusantium doloremque<br>
                            laudantium, totam rem aperiam,<br>
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>

</html>
