<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main main--offset">
    <section class="section pb-148 pbm-90">
        <div class="container">
            <h1 class="title mb-30 mbm-40">Политика конфиденциальности персональных данных</h1>
            <div class="editor">
                <h3>Подзаголовок</h3>
                <ul>
                    <li>
                        4.1. Персональные данные Пользователя Администрация может использовать в целях:
                    </li>
                    <li>
                        4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазин
                        кирпич-черепица.рф для его дальнейшей авторизации, оформления заказа и других действий.
                    </li>
                    <li>
                        4.1.2. Предоставления Пользователю доступа к персонализированным данным сайта Интернет-магазин
                        кирпич-черепица.рф.
                    </li>
                    <li>
                        4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов,
                        касающихся использования сайта Интернет-магазин кирпич-черепица.рф, оказания услуг и обработки
                        запросов и заявок от Пользователя.
                    </li>
                    <li>
                        4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения
                        мошенничества.
                    </li>
                </ul>
                <br>
                <h3>Подзаголовок</h3>
                <ul>
                    <li>
                        4.1. Персональные данные Пользователя Администрация может использовать в целях:
                    </li>
                    <li>
                        4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазин
                        кирпич-черепица.рф для его дальнейшей авторизации, оформления заказа и других действий.
                    </li>
                    <li>
                        4.1.2. Предоставления Пользователю доступа к персонализированным данным сайта Интернет-магазин
                        кирпич-черепица.рф.
                    </li>
                    <li>
                        4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов,
                        касающихся использования сайта Интернет-магазин кирпич-черепица.рф, оказания услуг и обработки
                        запросов и заявок от Пользователя.
                    </li>
                    <li>
                        4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения
                        мошенничества.
                    </li>
                </ul>
                <br>
                <h3>Подзаголовок</h3>
                <ul>
                    <li>
                        4.1. Персональные данные Пользователя Администрация может использовать в целях:
                    </li>
                    <li>
                        4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазин
                        кирпич-черепица.рф для его дальнейшей авторизации, оформления заказа и других действий.
                    </li>
                    <li>
                        4.1.2. Предоставления Пользователю доступа к персонализированным данным сайта Интернет-магазин
                        кирпич-черепица.рф.
                    </li>
                    <li>
                        4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов,
                        касающихся использования сайта Интернет-магазин кирпич-черепица.рф, оказания услуг и обработки
                        запросов и заявок от Пользователя.
                    </li>
                    <li>
                        4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения
                        мошенничества.
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
