.title{
    &--main{
    font-family: "Damn";
    font-size: 70px;
    font-weight: 400;
    line-height: 77px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: left;
    color: #392b80;
    }
}