.title {
  font-family: $font-main;
  font-size: 70px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: $primary;

  @include r($mobile) {
    font-size: 40px;
    line-height: 44px;
  }

  &--main {
    font-size: 140px;
    font-weight: 400;
    line-height: 126px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $white;

    @include r($mobile) {
      font-size: 90px;
      line-height: 81px;
    }
  }

  &--accent {
    font-size: 83px;
    font-weight: 400;
    line-height: 74.7px;
    text-align: center;
    text-transform: none;

    @include r($mobile) {
      font-size: 32px;
      line-height: 35px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
