<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body class="page-notfound">
<%= htmlWebpackPlugin.options.widgets.header %>
<div class="main">
    <section class="section section--intro section--purple-no-bg">
        <div class="container">
            <div class="intro intro--center mt-155 mb-30">
                <div class="intro__info">
                    <p class="pretitle">производим</p>
                    <h1 class="title title--main">особенные<br>сувениры</h1>
                </div>
            </div>
        </div>
        <div class="slider slider--carousel slider--full-page" data-slider="carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture class="picture-preview">
                            <img src="./assets/images/preview-1.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-60 pb-100 pbm-100">
        <div class="container">
            <div class="divider mb-134 mbm-50">
                <p class="divider__text">[ Немного о нас ]</p>
            </div>
            <div class="about">
                <div class="about__info">
                    <h2 class="about__title title">Заголовок</h2>
                    <p class="about__text text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae
                        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi
                        nesciunt.
                    </p>
                </div>
                <div class="about__features">
                    <article class="article-feature article-feature--end">
                        <div class="article-feature__icon">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-phone"></use>
                            </svg>
                        </div>
                        <h3 class="article-feature__title">Круглосуточная <span>поддержка</span></h3>
                        <p class="article-feature__text">
                            Наша команда с уверенностью берётся за проекты любой
                            сложности. Мы готовим эксклюзивный дизайн для всех клиентов
                            и работаем на профессиональном оборудовании.
                        </p>
                        <img src="./assets/images/minbuble.svg" alt=""
                             class="article-feature__decor article-feature__decor--left">
                    </article>
                    <article class="article-feature article-feature--start">
                        <div class="article-feature__icon">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-box"></use>
                            </svg>
                        </div>
                        <h3 class="article-feature__title">Быстрая и <span>бесплатная</span> доставка</h3>
                        <p class="article-feature__text">
                            Наша команда с уверенностью берётся за проекты любой
                            сложности. Мы готовим эксклюзивный дизайн для всех клиентов
                            и работаем на профессиональном оборудовании.
                        </p>
                        <img src="./assets/images/maxbuble.svg" alt=""
                             class="article-feature__decor article-feature__decor--right">
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-60 pb-100 pbm-100">
        <div class="container">
            <div class="divider mb-134 mbm-50">
                <p class="divider__text">[ Немного о нас ]</p>
            </div>
            <div class="about about--slider">
                <div class="about__info">
                    <h2 class="about__title title">значки<br>
                        и сувенирная
                        продукция</h2>
                    <p class="about__text text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                    </p>
                </div>
                <div class="product-preview">
                
                </div>
            </div>
        </div>
    </section>
    <section class="section section--rounded">
        <div class="container">
            <div class="address">
                <div class="address__info">
                    <h2 class="title">Где нас найти</h2>
                    <p class="address__text text">
                        Город Екатеринбург, улица Василия<br>
                        Еремина, 12, офис 334
                    </p>
                    <div class="address__links">
                        <a href="tel:+8(982)-625-22-27" class="link">8 (982)-625-22-27</a>
                        <a href="tel:+8 (922)-197-17-19" class="link">8 (922)-197-17-19</a>
                    </div>
                    <button class="button" data-fancybox data-src="feedback">бесплатная консультация</button>
                </div>
                <div class="address__map">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A78802f143f35aff9368db578b583631458d812710793f54cf306c3c2f84a9362&amp;source=constructor"
                        width="674" height="428" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
