.slider {

  &--relative {
    position: relative;

    .swiper {
      position: static;
    }
  }

  &--full-page {
    width: 100vw;
  }

  &--auto {
    margin: 0 auto;
    width: fit-content;

    .swiper {
      @include r($mobile) {
        overflow: visible;
      }
    }

    .swiper-slide {
      width: auto !Important;
    }
  }

  &--carousel {
    .swiper {
      overflow: visible;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #392B80 0%, rgba(57, 43, 128, 0) 49%);
        pointer-events: none;
        z-index: 2;
        transform: rotateY(45deg);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-90deg, #392B80 0%, rgba(57, 43, 128, 0) 49%);
        pointer-events: none;
        z-index: 2;
        transform: rotateY(-45deg);
      }
    }
  }

  &--visible {
    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      opacity: 0;
      pointer-events: none;
      transition: .2s linear;
    }

    .swiper-slide-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.swiper-slide-active {
  .article-review {
    @include r($mobile) {
      outline-color: $purple-light;
      outline-width: 4px;
      box-shadow: 0 30px 54px 0 #160A5424;

      &__picture {
        border-color: $accent;
      }
      &__author,
      &__name {
        color: $accent;
      }
      &__text {
        color: $primary;
      }
    }
  }
}

.swiper {
  &-control {
    position: absolute;
    top: 50%;
    left: -55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 110px);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;

    @include r($mobile) {
      position: static;
      width: 100%;
      margin-top: 30px;
      transform: none;
    }

    &--slim {
      left: -18px;
      width: calc(100% + 36px);
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $purple-light;
    cursor: pointer;
    pointer-events: auto;

    svg {
      display: flex;
      width: 18px;
      height: 18px;
    }

    &-prev {
      transform: rotate(-180deg);
    }
  }
}

.slider__btn--disabled {
  opacity: 0.7;
  pointer-events: none;
}
